<div class="container">
    <h1>What the heck is a Bullet Journal?</h1>

    <p><a href="http://bulletjournal.com/" target="_blank">The Bullet Journal</a> is described as "The Analog System for the Digital Age." It is a self-designed agenda/journal/life-tracker, invented by Ryder Carroll, a digital product designer.</p>

    <p>The traditional Bullet Journal is kept in a dot-grid notebook. Its most basic purpose is as a simple but effective planner, tracking events, tasks, and notes. You may also use it as a visual journal, habit and mindfulness tracker, scrapbook, or a combination of all of the above</p>

    <p><a href="https://www.instagram.com/aliciaswordchoice/?hl=en" target="_blank">I have been using a Bullet Journal since 2016.</a> I combined the Bullet Journal's traditional habit and productivity tracking with the Pomodoro Technique featured in another analog system, <a href="https://www.intelligentchange.com/products/the-productivity-planner" target="_blank">the Productivity Planner</a>. The two techniques combined are the makeup of the base version of Bull-It.</p>

    <h1>Isn't there already an app for that?</h1>

    <p>There is a Bullet Journal app, as well as countless pomodoro timer apps available. I have used them. But there currently are none that combine the two techniques as I need, and none as visually pleasing as Bull-It.</p>
</div>