<div>
    <h1>Enter Item Info</h1>
    <form>
        <div class="form-group">
            <input ng-model="AC.title" name="title" placeholder="Item Name">
            <textarea class="form-control" rows="5" id="details" ng-model="AC.details" placeholder="Item Details"></textarea>
            <div class="radio">
                <label>
                    <input id="task" type="radio" name="item" ng-model="itemCategory.name" value="task">Task</label>
                <label>
                    <input id="event" type="radio" name="item" ng-model="itemCategory.name" value="event">Event</label>
                <label>
                    <input id="note" type="radio" name="item" ng-model="itemCategory.name" value="note">Note</label>
            </div>
            <p>category = {{itemCategory.name}}</p>
        </div>

        <div class="container" ng-show="itemCategory.name" value="note">
            I show up when you select a note radio button!
        </div>


        <button ng-click="AC.addItem()" type="button" name="button">Add Item</button>
</div>
</form>
</div>