<div>
    <h1>Enter Item Info</h1>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="AC.title" name="title" placeholder="Item Name">
        <textarea class="form-control" rows="5" id="details" ng-model="AC.details" placeholder="Item Details"></textarea>
        <div class="radio">
            <label>
                <input type="radio" name="item" value="task" ng-model="item">Task</label>
            <label>
                <input type="radio" name="item" value="event" ng-model="item">Event</label>
            <label>
                <input type="radio" name="item" value="note" ng-model="item">Note</label>
        </div>
    </div>

    <div class="container" ng-show="item === 'note'">
        <form>
            <h5>Add Note to Today?</h5>
            <label>
                <input type="radio" name="assignNoteDate" ng-value="AC.todaysDate" ng-model="AC.date">Yes, add to {{AC.todaysDate | date:'MM-dd-yyyy'}}</label>
            <br>
            <label>
                <input type="radio" name="assignNoteDate" value="no" ng-model="note">No, choose another date:</label>
            <br>
            <input ng-show="note === 'no'" type="date" ng-model="AC.date">
        </form>
        <button ng-click="AC.addNote()" type="button" name="button">Add Note</button>
    </div>

    <div class="container" ng-show="item === 'event'">
        <form>
            <h5>When is this event?</h5>
            <input type="date" ng-model="AC.eventDate">
            <input type="time" ng-model="AC.eventTime">
            <input type="text" ng-model="AC.eventLocation" placeholder="Enter the Address or Location">
        </form>
        <button ng-click="AC.addEvent()" type="button" name="button">Add Event</button>
    </div>

    <div class="container" ng-show="item === 'task'">
        <form>
            <h5>Select Urgency:</h5>
            <label>
                <input type="radio" name="priority" value="1" ng-model="AC.priority">High</label>
            <br>
            <label>
                <input type="radio" name="priority" value="2" ng-model="AC.priority">Medium</label>
            <br>
            <label>
                <input type="radio" name="priority" value="3" ng-model="AC.priority">Low</label>
            <br>
            <h5>Select Due Date</h5>
            <input type="date" ng-model="AC.due">
            <br>
            <h5>Approximately how long will this take to complete?</h5>
            <label>
                <input type="number" ng-model="AC.pomos" min="1" max="10"> half-hours</label>
        </form>
        <button ng-click="AC.addTask()" type="button" name="button">Add Task</button>
    </div>
</div>