
<body>
  <div class="container">
    <h1>Pomodoro Clock</h1>
    <div class="work-time changer">
      <h4>Work Time</h4>
      <button class="btn btn-danger btn-xs" ng-click="DC.changeTime('work', 1)"><span class="glyphicon glyphicon-chevron-up"></span></button>

      <h2 class="work-time-time">{{DC.workTime}}</h2>

      <button class="btn btn-success btn-xs" ng-click="DC.changeTime('work', -1)"><span class="glyphicon glyphicon-chevron-down"></span></button>

    </div>

    <div class="timer">
      <button class="btn btn-primary btn-xs" ng-click="DC.toggleTimer()">Start/Stop</button>
      <h2>{{DC.timerCountdown}}</h2>
      <button class="btn btn-primary btn-xs" ng-click="DC.reset()">Reset</button>
    </div>

    <div class="rest-time changer">
      <h4>Rest Time</h4>
      <button class="btn btn-danger btn-xs" ng-click="DC.changeTime('break', 1)"><span class="glyphicon glyphicon-chevron-up"></span></button>

      <h2 class="rest-time-time">{{DC.restTime}}</h2>

      <button class="btn btn-success btn-xs" ng-click="DC.changeTime('break', -1)"><span class="glyphicon glyphicon-chevron-down"></span></button>

    </div>
   
  </div>
</body>