<h1 class="center">Thank You!</h1>
    
<div class="container list">
    <h3>Technologies Used:</h3>
    <ul>
        <li>SEAN Stack:</li>
            <ul>
                <li>SQL</li>
                <li>Express</li>
                <li>AngularJS</li>
                <li>Node</li>
                </ul>
        <li>Bootstrap</li>
        <li>SweetAlerts</li>
    </ul>
    <h3>Stretch Goals:</h3>
        <ul>
            <li>Implement Auth Login</li>
            <li>More traditional Bullet Journal pages and layouts, such as:
                <ul>
                    <li>Habit Tracking</li>
                    <li>Month and year Views</li>
                    <li>Printable pages for physical copies of your journal</li>
                </ul>
            </li>
            <li>Google Calendar Synchronization</li>
        </ul>
</div>