<div>
    <h4>Today is {{TC.todaysDate | date:'MM-dd-yyyy'}}</h4>
    <h3>Tasks Due Today:</h3>
    <div class="container">
        <table class="table table-active table-responsive">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Details</th>
                    <th>Pomodoros</th>
                    <th>Options</th>
                </tr>
            </thead>

            <tr ng-repeat="task in TC.tasks.tasks">
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>{{task.details}}</td>
                <td><span ng-repeat="glyph in TC.getPomoNumber(task.pomos)"><span class="glyphicon glyphicon-time"></span></span></td>
                <td><button>Cancel It</button>
                <button>Edit It</button>
                <button>Do It</button>
            </td>
            </tr>

        </table>
    </div>
</div>
<div>
    <h3>Today's Events:</h3>
    <div class="container">
        <table class="table table-active table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Details</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>

            <tr ng-repeat="event in TC.events.events">
                <td>{{event.title}}</td>
                <td>{{event.details}}</td>
                <td>{{event.time}}</td>
                <td>{{event.location}}</td>
            </tr>

        </table>
    </div>
</div>
<h3>Notes:</h3>
<div class="container">
    <table class="table table-active table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
            </tr>
        </thead>

        <tr ng-repeat="note in TC.notes.notes">
            <td>{{note.title}}</td>
            <td>{{note.details}}</td>
        </tr>

    </table>
</div>
</div>