#filler{
    background-image:url("../assets/background.jpg");
    height: 0px;
    width: 300px;
    position:absolute;
    bottom:0;
    z-index: -1
  }

h1, p {
    font-family: 'Permanent Marker', cursive;
}

h4, h3{
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}

.btn {
    font-family: 'Permanent Marker', cursive;
}

.priority {
    font-family: 'Architects Daughter', cursive; 
}

h4 {
    text-align: center;
    font-family: 'Architects Daughter', cursive; 
}

h5 {
    font-family: 'Architects Daughter', cursive; 
}

th {
    font-family: 'Architects Daughter', cursive; 
    background-color: whitesmoke;
    text-align: center
}

td {
    font-family: 'Permanent Marker', cursive;
    text-align: center
}

a {
    font-family: 'Architects Daughter', cursive; 
}

body {
    background-image: url("../assets/paper.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top-right;
}

form-group {
    font-family: 'Architects Daughter', cursive; 
    margin: auto;  
    text-align: center; 
}

label {
    font-family: 'Architects Daughter', cursive; 
    margin: auto;
}

input[type="text"] {
    font-family: 'Architects Daughter', cursive; 
    width: 50% !important;
    margin: auto;
}

input[type="radio"] {
    font-family: 'Architects Daughter', cursive; 
    margin: auto;
}

input[type="date"] {
    font-family: 'Architects Daughter', cursive; 
    margin: auto;
}

input[type="time"] {
    font-family: 'Architects Daughter', cursive; 
    margin: auto;
}

label {
    font-family: 'Architects Daughter', cursive; 
    margin: auto;
}

textarea {
    font-family: 'Architects Daughter', cursive; 
    width: 50% !important;
    margin: auto;
}

.work-time-time {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color:rgb(7, 34, 65);
}

.rest-time-time {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color:rgb(7, 34, 65);
}

  
 .changer {
    border: 5px solid rgb(117, 192, 197);
    border-radius: 50%;
    padding-top: 17px;
    height: 200px;
    width: 200px;
    margin: 5px;
    display: inline-block;
    color:rgb(7, 34, 65);
    text-align: center;
  }
  
  .active-timer {
    background-image:url("../assets/background.jpg");
    color:rgb(7, 34, 65);
    font-family: 'Architects Daughter', cursive
  }
  
  .timer {
    padding-top: 40px;
    color:rgb(7, 34, 65); 
    font-size:50px; 
    margin:5px;
    border : 5px solid rgb(117, 192, 197);
    border-radius:50%;
    width:300px;
    height:300px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    display: inline-block;
  }

li {
    font-family: 'Architects Daughter', cursive; 
}

  .center {
      text-align: center;
  }

  .left-align {
      text-align: left;
  }

  .right-align {
      text-align: right;
  }

  .dobuttons {
      text-align: center;
  }