<div class="navbar">
    <div class="container">
        <strong>Get Your Sh*t Together</strong>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a ng-href="/#/today">Today</a>
        </li>
        <li>
            <a ng-href="/#/thisWeek">This Week</a>
        </li>
        <li>
            <a ng-href="/#/add">Add Items</a>
        </li>
        <li>
            <a ng-href="/#/user">User Home</a>
        </li>
        <li>
            <a ng-href="/#/info">Info Page</a>
        </li>
    </ul>
</div>
</div>